<header id="sidebar">
  <a id="logo" href="{{ "/" | relative_url }}"><img src="/assets/archive/images/2015/Nov/avi-2.jpeg" alt="Mike Coutermarsh"></a>
<h1 class="site-title"><a href="{{ "/" | relative_url }}">Mike Coutermarsh</a></h1>
<div id="nav">
  <ul>
    <li><a href="{{ "/" | relative_url }}">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="http://www.amazon.com/gp/product/B00Q8QKGJ0">Book: Heroku Cookbook</a></li>
    <li><a href="http://github.com/mscoutermarsh">GitHub</a></li>
    <li><a href="http://twitter.com/mscccc">@mscccc</a></li>
  </ul>
</div>
</header>
