---
layout: default
pagination:
  enabled: true
---

<div class="home">
  {{ content }}

  {% for post in paginator.posts %}
  {% assign currentdate = post.date | date: "%Y" %}
  {% if currentdate != date %}
    {% unless forloop.first %}</ul>{% endunless %}
    <h1 id="y{{post.date | date: "%Y"}}">{{ currentdate }}</h1>
    <ul class="post-list">
    {% assign date = currentdate %}
  {% endif %}
    <li>
      {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
      <span class="post-meta {{ post.external_site }}">
        {{ post.date | date: date_format }}
        {% if post.external_site == 'medium' %}
          - {% icon fa-medium %}
        {% endif %}
        {% if post.external_site == 'quora' %}
          - {% icon fa-quora %}
        {% endif %}
        {% if post.external_site == 'dev' %}
          - {% icon fa-dev %}
        {% endif %}
      </span>

      <h2>
        {% if post.external_url %}
          <a class="post-link {{ post.external_site }}" href="{{ post.external_url }}" target="_blank">

            {{ post.title | escape }}
          </a>

        {% else %}
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        {% endif %}
      </h2>
    </li>
  {% if forloop.last %}</ul>{% endif %}
  {% endfor %}

  <ul class="post-list">
    {% for post in paginator.posts %}
    {% endfor %}
  </ul>

  {% if paginator.total_pages > 1 %}
  <ul>
    {% if paginator.previous_page %}
      <!-- <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer posts</a> || -->
    {% endif %}
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">More Posts >></a>
    {% endif %}
  </ul>
  {% endif %}
</div>
